// --van-blue  是vant的基础色。可以按需配置   https://youzan.github.io/vant/v3/#/zh-CN/config-provider
:root {
    --van-blue: #f99c10 !important;
}

#nprogress .bar {
    background: #f99c10 !important; //自定义Nprogress颜色
}

#app,
html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.g-relative {
    position: relative;
    overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    will-change: transform;
    transition: all 500ms;
}

.slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.movie-price {
    position: absolute;
    top: 15px;
    padding: 2px 8px;
    border-radius: 10px;
    color: $color-text-orange;
    background: linear-gradient(
        to right,
        $color-background-price-btn1,
        $color-background-price-btn2
    );
}
.movie-free {
    top: 10px;
    padding: 6px 14px;
    font-size: $font-size-18;
    color: $color-text-white;
    background: linear-gradient(
        to right,
        $color-background-999,
        $color-background-d7d7d7
    );
}

.movie-btn {
    position: absolute;
    right: 15px;
    font-size: $font-size-20;
    padding: 4px 8px;
    border-radius: 20px;
}

.movie-duration {
    bottom: 15px;
    color: $color-text-white;
    background-color: $color-background-masking;
}

.movie-tabs {
    height: 100%;
    .van-tabs__wrap {
        height: 80px;
        margin-bottom: 20px;
    }
    .van-tab__pane {
        height: 100%;
        position: relative;
    }
    .van-swipe-item {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .van-tabs__content {
        height: calc(100% - 100px);
    }
    .van-tab--active {
        color: $color-theme;
    }
    .van-tabs__line {
        background: $color-background-theme;
    }
}
