// 背景颜色
$color-background: #222;
$color-background-white: #fff;
$color-background-blank: #000;
$color-background-gray: #d5d5d5; // 过渡色浅色
$color-background-245: rgb(245 245 245);
$color-background-masking: rgba(0, 0, 0, 0.3); //蒙层背景色
$color-background-deep-masking: rgba(0, 0, 0, 0.7); //深色蒙层背景色
$color-background-orange: rgb(252 219 180); // 按钮背景
$color-highlight-background: #333;
$color-global-background: rgb(243, 243, 243); //页面背景色
$color-over-right: rgb(255 198 32); // 过渡色深色
$color-over-left: rgb(255 148 14); // 过渡色浅色
$color-background-gloden: rgb(254, 225, 187); //金色按钮背景
$color-background-buy: #969799; //支付按钮
$color-background-buy2: #f3f3f3; //支付按钮
$color-background-theme: #f99c10; //主题色背景
$color-background-details1: #f5b556ef; //按钮渐变
$color-background-details2: #f99c10; //按钮渐变
$color-background-price-btn1: #f9d9aa; //价格按钮渐变
$color-background-price-btn2: #ffffffad; //价格按钮渐变
$color-background-0-5: rgba(0, 0, 0, 0.5);
$color-background-999: #999;
$color-background-d7d7d7: #d7d7d7;
$color-background-d7d7d787: #d7d7d787;
//字体颜色
$color-text-white: #fff;
$color-text-white-8: rgba(255, 255, 255, 0.8);
$color-text-black: #000;
$color-text-333: #333;
$color-theme: #f99c10; //主题色
$color-text-price: #955e0b;
$color-text-orange: rgb(178, 91, 0);
$color-text-51: rgb(51, 51, 51);
$color-text-102: rgb(102, 102, 102);
$color-text-gray-d: #6d6d6e;
$color-text-d2d2d2: #d2d2d2;
$color-text-gray: #ebebeb;
$color-text-959595: #959595;

// 阴影
$box-shadow-gray: #e5e5e5;

//状态颜色
$color-primary: #0071fe;
$color-primary-bg: #78a3d8;
$color-error: #f23648;
$color-error-bg: #fddfe2;
$color-successr: #21a67a;
$color-success-bg: #e0eee4;

// 字体定义规范
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-40: 40px;
$font-size-48: 48px;
$font-size-60: 60px;

// 底部导航高度
$NavHeinght: 88px;
